body{
    margin: 0px;
    cursor: url(),auto;
}
a{
    text-decoration: none;
}
.hide{
    display: none;
}
/* 選單 */
.menu{
    position: fixed;top: 0px;bottom: 0px;left: 0px;
    width: 16%;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
}
/* 選單頂部 */
.menu-top{
    text-align: center;
}
.menu-topicon{
    text-align: end;
}
.menu-topicon i{
    font-size: 30px;
    margin: 10px 10px 0 0;
}
.menu-topicon i:hover{
    background-color: white;
    cursor: pointer;
}
.menu img{
    width: 40%;
    border-radius: 50px;
    margin-top: 0px;
}
.menu h2{
    font-size: 20px;
    margin: 0px;
}
.menu-top h3{
    font-size: 90%;
    color: #777777;
    margin: 2px 0 2px 0;
}
.menu-top h3 i{
    margin-right: 3px;
}
/* 選單連結 */
.menu-middle::-webkit-scrollbar{
    display: none;
}
.menu-middle{
    overflow: scroll;
    flex: 4;
}
/* LV2-menu */
.menu-middle .menu-LV1 ul{
    list-style: none;
    padding-left: 0px;
}
.menu-middle .menu-LV1 a{
    text-decoration: none;
}
.menu-middle .menu-LV1 i{
    font-size: 20px;
    margin: 0 10px 0 20px;
}
.menu-middle .menu-LV1 span{
    font-size: 20px;
    font-weight: bold;
}
.menu-middle .menu-LV1{
    background: #f6f6f6;
    /*box-shadow: 0px 1px 3px #00000088;*/
    &::after{
        content: "";
        display: block;
        clear: both;
    }
    span{ /* Logo */
        float: left;
        padding-left: 50px;
        line-height: 50px;
    }
}
input{
    display: none;
}
/* 漢堡按鈕 */
label{
    float: right;
    padding-right: 50px;
    i{
        width: 30px;   
        vertical-align: middle;
    }
}
/* 選單列 */
.menu-middle .menu-LV1 .menu-LV2{
    clear: both;
    background: #f6f6f6;
    li{
        text-align: center;
        border-bottom: 1px solid #efefef;
        a{
            display: block;
            padding: 10px 0;
            font-size: 18px;
            color: #5d5d5d;
            &:hover{
                background: #5d5d5d;
                color: #fff;
            }
        }
    }
}
.menu-LV2{
    max-height: 0;
    overflow: hidden;
    /*transition: .5s;*/ /* 動畫秒數 */
}
input:checked ~ #link-1,
input:checked ~ #link-2{
    max-height: 300px;
}

/* end */
.menu-middle .menu-link{
    list-style: none;
    line-height: 20px;
    padding-left: 0px;
}
.menu-middle .menu-link li{
    width: inherit;
}
.menu-middle .menu-link li a{
    padding: 6px 0px 6px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    text-decoration: none;
    color: black;
    width: inherit;
}
.menu-middle li a:hover{
    background-color: #999999;
}
.menu-middle .menu-link ul{
    line-height: 15px;  
}
.menu-middle .menu-link i.arrow{
    float: inline-end;
    color: aqua;
}
.menu-middle li a span{
    font-weight: bold;
}
.menu-middle ul li a i.ico{
    min-width: 20px;
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
/* 選單底部 */
.menu-footer{
    position: relative;bottom: 0;left: 0px;
    width: 100%;
    padding: 10px 0px 20px 0px;
    flex: 1;
}
.link-icon{
    font-size: 20px;
    padding: 5px;
}
.link-icon a{
    color: black;
}
.menu-footer h3{
    margin: 0;
    padding: 0 0 0 5px;
    font-size: 20px;
}
/* 側邊欄 */
.nav .date::-webkit-scrollbar{
    display: none;
}
.nav{
    position: fixed;top: 0px;right: 0px;bottom: 0px;
    background-color: #f6f6f6;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}
.nav .date{
    overflow: scroll;
    flex: 4;
}
/* live2d */
.nav .live2d{
    position: relative;bottom: 0px;right: 0px;
    flex: 1;
}
.nav .live2d .live2d-talk{
    text-align: center;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    border: 1px solid black;
    border-radius: 10px;
    
}
.nav .live2d img{
    width: 200px;
}
/* 內文 */
.content{
    margin: 0 240px 0 16%;
    padding: 20px;
}
.content .content-topimg{
    background-image: url(picture/8.jpg);
    background-size: 100%;
    height: 300px;
    margin: -20px -20px 0 -20px;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-origin: border-box;
}
.content .box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content .box:hover{
    border: #777777 solid 1px;
}
.content .box img{
    width: 100px;
    height: 100px;
    border: #777777 solid 1px;
    padding: 3px;
    margin: 3px;
}
.content .box p{
    margin: 0;
    padding: 0;
}
/* 手機 */
@media screen and (max-width: 600px) {
    .menu{
        width: 30%;
    }
    aside.nav{
        display: none;
    }
    .content{
        margin-left: 30%;
    }
}